<div class="container-fluid order_list">
    <div class="card prime-table">
        <div class="table-header">
            <span>Invoice List</span>
            <div class="add_admin_button">
                <button type="button" (click)="addinvoice()" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ProjectModal">
                    New Invoice
                </button>
            </div>
        </div>
        <div class="row m-0 table-body">
            <p-table [value]="invoiceList" [paginator]="false" [rows]="10" [showCurrentPageReport]="true"
                [scrollable]="true" scrollDirection="both" responsiveLayout="scroll" [style]="{'margin-top': '8px'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10%;">Sr</th>
                        <th style="width: 15%;">firm Name</th>
                        <th style="width: 15%;">Party Name</th>
                        <th style="width: 10%;">Amount</th>
                        <th style="width: 10%;">Details</th>
                        <th style="width: 20%;">Date</th>
                        <th style="width: 10%;">Invoice Number</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td style="width: 10%;">{{i +1 }}</td>
                        <td style="width: 15%;">{{item.firmName}}</td>
                        <td style="width: 15%;">{{item.partyName}}</td>
                        <td style="width: 10%;">{{item.amount}}</td>
                        <td style="width: 10%;">{{item.details}}</td>
                        <td style="width: 20%;">{{item.date | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 10%;">{{item.invoiceNumber}}</td>
                        <td style="width: 10%;">
                            <div class="button_icon_edit" (click)="editData(item)" data-bs-toggle="modal" data-bs-target="#ProjectModal">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                            <div class="button_icon_delete" (click)="deleteInvoiceList(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                            <div class="button_icon_delete" (click)="printData(item)">
                                <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->Print
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="record">
                        <td colspan="12" class="p-text-center p-p-3">No Recode Found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- Modal ProjectModal -->
<div class="modal fade" id="ProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> Create Invoice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <div class="modal-body">
                    <form [formGroup]="buildform">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group m-3">
                                    <label for="text">Select Firm</label>
                                    <p-dropdown [options]="firmList" (onChange)="selectFirmInvoicrFind($event)"
                                        formControlName="firm" placeholder="Select a form"
                                        optionLabel="firm_header"></p-dropdown>
                                </div>
                                <div class="form-group m-3">
                                    <label for="text">Select Party</label>
                                    <p-dropdown [options]="platList" formControlName="party"
                                        placeholder="Select a party" optionLabel="party_name"></p-dropdown>
                                </div>
                                <div class="form-group m-3">
                                    <label for="text"> Amount </label>
                                    <input formControlName="amount" type="number" class="form-control"
                                        placeholder="Enter Amount ">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group m-3">
                                    <label for="text"> Details</label>
                                    <input formControlName="details" type="text" class="form-control"
                                        placeholder="Enter Details ">
                                </div>
                                <div class="form-group m-3">
                                    <label for="text">Date</label>
                                    <p-calendar formControlName="date" [showIcon]="true"
                                        placeholder="Select date"></p-calendar>
                                </div>
                                <div class="form-group m-3">
                                    <label for="text">Invoice Number</label>
                                    <div>
                                        <span>{{currentInvoice}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary" (click)="buildsubmit()"
                            data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-toast></p-toast>
<app-spinner *ngIf="isLoading"></app-spinner>
<p-confirmDialog header="Confirmation"></p-confirmDialog>