@import '../../../../src/scss/_common.scss';

.add_admin_button {
    display: flex;
    justify-content: flex-end;

    button {
        @include button;
    }
}

.add_button {
    button {
        @include button;
        float: right;
        margin-right: 7px !important;
    }
}

.modal-header {
    background: linear-gradient(118deg, #0062d105, #0062d10a);
}

.modal-body {
    background: linear-gradient(118deg, #0062d105, #0062d10a);
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;

    span {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }
}

.errorMsg {
    margin-top: -5px;
    margin-left: 10px;
    color: red;
}

.modal-dialog {
    max-width: none;
    width: 30%;
}

.table-body {
    ::ng-deep .p-datatable-wrapper {
        min-height: calc(100vh - 175px);
    }
}

::ng-deep .p-dropdown {
    width: 100%;
}

.imageUpdate {
    padding-top: 10px;
}

.text {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-name {
        background: #e5a02b;
        padding: 10px;
        margin-right: 2px;
        width: 100vw;
        height: 37px;
        font-size: 13px;
        text-align: center;
    }
}

.product_desc {
    border: 1px solid #092143;
    margin-top: 10px;
    border-radius: 10px;
}

#productDetails {
    text-align: center;
    border: 1px solid gainsboro;
    margin-top: 9px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 11px;
}
.col-3{
    border-left: 1px solid gainsboro;

}
.col-2{
    border-left: 1px solid gainsboro;

}

.add {
    text-align: center;
}

p {
    text-align: center;
}

.number {
    text-align: center;
    letter-spacing: 2px;
}

.bi-telephone-plus{
    margin: 4px;
}

.details{
    text-align: center;
}
.header{
    font-weight: bold;
}